<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recovery Account</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body style="background-color: lemonchiffon">

<div class="container-fluid p-5" style="background-color: lemonchiffon">
    <div class="alert alert-success alert-dismissible" role="alert">
        <a aria-label="close" class="close" data-dismiss="alert" href="#">&times;</a>
        <h4 class="alert-success" style="text-align: center">WELCOME!
            <hr>
            <p th:text="${MAIL}"> please change your password.</p>
        </h4>
    </div>
    <br>
</div>


<div style="text-align:center">
<form th:action="@{/recover/{randomUUID}/(randomUUID=${UUID})}" method="post">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="p">Password: </label>
        <div class="col-sm-6">
            <input type="password" pattern=".{5,}" class="form-control" id="p" name="password"
                title="Five or more characters" placeholder="Password" required>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="cp">Confirm your password</label>
        <div class="col-sm-6">
            <input type="password" pattern=".{5,}" class="form-control" id="cp" name="confirmPassword"
                   title="Five or more characters" placeholder="Password" required>
        </div>
    </div>

    <br>

    <button type="submit" class="btn btn-success">Confirm your new Password</button>
</form>
</div>

<br><br><br>

<footer class="page-footer font-small teal pt-4" style="background-color: darkslategray">

    <!-- Footer Text -->
    <div class="container-fluid">

        <h5 class="display-5" style="color: white" align="center"><br>Third 'Internet Applications' lab<br></h5>
        <div class="info_banner">
            <p style="color: white" align="center">Created by: Capasso Luigi Napoleone s251214, Conti Alberto s251865,
                De Matteis Simone s251224 and Domanico Valerio s245784</p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white">© 2019 Copyright: chickenfries-team</div>
    <!-- Copyright -->

</footer>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</html>
